
* {
  font-family: "space Grotesk", sans-serif;
}
h1 {
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
}
nav a, .header-btn a {
font-weight: 400;
font-size: 20px;
line-height: 28px;
letter-spacing: 0%;
color: #000000;
}
