* {
  font-family: "space Grotesk", sans-serif;
}
.header h1 {
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
}
nav a,
.header-btn a {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
}

.sec-1-left h1 {
  font-weight: 500;
  font-size: 60px;
  line-height: 120%;
}
.sec-1-left p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin: 35px 0;
}
.sec-1-btn a, .aside-btn a {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
}

.title__h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  background-color: var(--main-green);
  border-radius: 5px;
  padding: 7px;
}
.title__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  max-width: 580px;
}

.service-card h3, .aside-2-left h3 {
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
}
.service-card p {
font-weight: 400;
font-size: 20px;
line-height: 28px;
}
.service-card:nth-child(3) p, .service-card:nth-child(6) p {
  color: white;
}

.highlight-text-green {
  background-color: var(--main-green);
  padding: 0 5px;
  border-radius: 5px;
}
.highlight-text-grey {
  background-color: var(--grey);
  padding: 0 5px;
  border-radius: 5px;
}


.aside-2-left p {
font-weight: 400;
font-size: 18px;
line-height: 100%;
margin: 26px 0;
}

.block p {
font-weight: 400;
font-size: 18px;
line-height: 120%;
margin-bottom: 20px;
}
.block-btn p {
font-weight: 400;
font-size: 20px;
line-height: 28px;
margin: 0;
}

.card-number {
font-weight: 500;
font-size: 60px;
line-height: 100%;
}
.card-title {
font-weight: 500;
font-size: 30px;
line-height: 100%;
}
.card-green__text {
font-weight: 400;
font-size: 18px;
line-height: 100%;
margin-top: 60px;
position: relative;
}